<li style="margin-top: 1em; font-size: 15px">
{{burger_name}}
<button type="submit" class="btn btn-primary change-burger" id="devourBtn" data-id="{{id}}" data-neweat="{{neweat}}">Devour!</button>

</li>